* {
    box-sizing: border-box;
}

body {
    background-color: #0B1F3A;
    color: #D7CEC9;
    margin: 0;
    padding: 0;
    /* background-image:url("../images/spaceX-background.jpeg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}

.logo-adjustment {
    background:url("../images/telescope.png") no-repeat 50% 50%;
    background-size: 100%;
    height: 50px;
    width: 50px;    
    margin: auto;
    margin-top: 10px;
    padding: 0;
}

.header-image {
    /* background-image:url("../images/imageOfTheDay.png") ; */
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    
}

#menu {
    list-style: none;
    display: flex;
    /* flex-direction: row-reverse; */
    background-color: #746C6B;
    opacity: .8;
    min-height: 75px;
    /* border: solid 2px; */
    border-radius: 3px;
}

#searchBar {
    margin: 10px;
    width: 200;
    margin-left: 40px;
}

.h-five {
    margin: auto;
    margin-top: 5px;
    width: 100px;
}

.nav-btn {
    margin: 20px;
    width: 150px;
    margin-right: 10px;
}

#go-btn {
    margin: 20px;
    width: 75px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
    /* width: 100px; */
    height: 40px;
    opacity: .8;
    line-height: 40px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

ul li a:hover {
    background-color: #746C6B;
    opacity: 1.6;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

a {
    color: #D7CEC9;
}

.main-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.body-top {
  height: 200px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.body-middle {
  height: 1000px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.body-left {
  height: 500px;
  width: 20%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0;
  padding: 0;
  float: left;
}

.body-right {
  height: 500px;
  width: 80%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0;
  padding: 0;
  float: right;
}

.footer {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

#searchResult {
  height: 55px;
  width: 60%;
  background-color: #0A5568;
  border: 2px solid black;
  font-weight: 600;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 0;
  padding: 0;
  /* display: flex-start;
  flex-direction: row;
  justify-content: space-between; */
  /* float: left; */
}

/* .playButton {
    height: 50px;
    width: 100%;
    border: 3px solid black;
    border-radius: 100%;
    border-color: black;
    background:url("../images/play.png") no-repeat 60% 50%;
    background-origin: content-box;
    transition-duration: .60s;
    background-color: red;
    background-size: 60%;
    margin: 0;
    padding: 0;
}

.outer-container-playbutton {

}

.inner-container-playbutton {
    width: 50px;

}

.pauseButton {
    height: 40px;
    width: 30px;
    background-color: blue;
    border: 3px solid black;
}

.addToFavoritesButton {
    height: 40px;
    width: 100px;
    background-color: purple;
    border: 3px solid black;
    float: right;
} */