* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0b1f3a;
  color: #d7cec9;
  margin: 0;
  padding: 0;
}

.results {
  margin: 0;
  padding: 0;
}

#menu {
  list-style: none;
  display: flex;
  background-color: #746c6b;
  min-height: 75px;
  border-radius: 3px;
}

#searchBar {
  margin: 10px;
  width: 200;
  margin-left: 40px;
}

.h-five {
  margin: auto;
  margin-top: 5px;
  width: 100px;
}

.nav-btn {
  margin: 20px;
  width: 150px;
  margin-right: 10px;
}

#go-btn {
  margin: 20px;
  width: 75px;
}

a {
  color: #d7cec9;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.article {
  height: 1000px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.aside {
  height: 500px;
  width: 20%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0;
  padding: 0;
  float: left;
}

.section {
  height: 500px;
  width: 80%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 0;
  padding: 0;
  float: right;
}

.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

#searchResult {
  height: 55px;
  width: 60%;
  background-color: #0a5568;
  border: 2px solid black;
  font-weight: 600;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: 0;
  padding: 0;
}

.quoteDiv {
  font-size: 30px;
  color: white;
}

.launchDatesDive {
    
}

.launchCardStyle {
    background-color: black;
    opacity: .7;
    border-radius: 10px;
    color: limegreen;
    text-align: center;
    height: 100px;
    margin: 2px;
    padding: 10px;
}

/* li:nth-child(odd) {
  color: blue;
} */

.hidingQuery {
    display: none;
}

.quoteDiv {
    padding: 10px;
    margin: 10px;
}

.radioButton {
    margin-top: 20px;
}

.inputFontColor {
    color: white;
}